<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/3/w3.css">
<link rel="stylesheet" href="style.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css">
<body>

<div class="menu-bar">
  
    <a href="abc.html"><div class="logo"><img src="logo.png" alt="Logo"></a>
    </div>



    <ul>
        <li class="active" ><a href="abc.html">Home</a></li>
        <li><a href="about.html">About Us</a></li>
        <li><a href="demo.html">Demo Photos
            Videos</a></li>
        
        <li><a href="service.html">Services</a>
            <div class="sub-menu-1">
                <ul>
                    <li><a href="segment.html">Word Segmentation</a></li>
                    <li><a href="word_recoh.html">Text Recognition</a></li>
                </ul>
            </div>
        
            
        </li>    
        
    </ul>
</div>  

<div class="bimg">
    <img src="g.png">
    <div class="content">
       <marquee><h1>तपाईलाई हाम्रो पेजमा स्वागत छ ........😊😊 </h1></marquee> 
    </div>
</div>  


</body>
</html>