<!DOCTYPE html>
<html lang="en">
<head>
    <title>Nepali Handwritten Text Recognition</title>
    <link rel="stylesheet" href="about.css">
</head>
<body>
    <div class="menu-bar">
      <a href="abc.html"><div class="logo"><img src="logo.png" alt="Logo"></a>
      </div>
        <ul>
            <li><a href="abc.html">Home</a></li>
            <li class="active"><a href="about.html">About Us</a></li>
            <li><a href="demo.html">Demo Photos
              Videos</a></li>
            <li><a href="service.html">Services</a>
                
                <div class="sub-menu-1">
                    <ul>
                        <li><a href="#">WORD SEGEMNTATION</a></li>
                        <li><a href="#">TEXT RECOGNITION</a></li>
                    </ul>
                </div>
            </li>    
            
        </ul>
    </div>
<div class="about-section"><u><h1>About Project</h1></u>
            
            <p style="background-color:rgb(149, 233, 149);">Nepal has not progressed much in the field of digitalization. Despite the advance-
                ments in science and technology, we are still entangled in tedious paper works.
                Most of the paper works in Nepal are done in Nepali which uses Devanagari script.
                It’s time to shift from paperwork to digital, so that all the traditional documents
                written in nepali paper by hand could be preserved and the coming generations
                can get access to that valuable information about the past.
                The proposed work in addresses the Recognition of Devanagari
                text from images by using CNN Model along with RNN and LSTM.</p>
          </div>
          
          <h2 style="text-align:center">Our Team</h2>
          <div class="row">
            <div class="column">
              <div class="card">
                <img src="jk.JPG" alt="Jane" style="width:100%">
                <div class="container">
                  <h2>Jeevan Kaphle</h2>
                  <p class="title">Team Member</p>
                  <p>Hi</p>
                  <p>jeevan.kaphle@sagarmatha.edu.np</p>
            
                  <p><button class="button">Contact</button></p>
                </div>
              </div>
            </div>
          
           
            <div class="column">
                <div class="card">
                  <img src="nak.JPG" alt="Mike" style="width:100%">
                  <div class="container">
                    <h2>Nakul Poudel</h2>
                    <p class="title">Team Member</p>
                    <p>Hi</p>
                    <p>nakul.poudel@sagarmatha.edu.np</p>
                    <p><button class="button">Contact</button></p>
                  </div>
                </div>
              </div>
          
            <div class="column">
              <div class="card">
                <img src="ke.JPG" alt="John" style="width:100%">
                <div class="container">
                  <h2>Keshab Saud</h2>
                  <p class="title">Team Member</p>
                  <p>Hi.</p>
                  <p>keshab.saud@sagarmatha.edu.np</p>
                  <p><button class="button">Contact</button></p>
                </div>
              </div>
            </div>
        </div>   
            <div class="niru">
                <div class="card">
                  <img src="nira.JPG" alt="John" style="width:100%">
                  <div class="container">
                    <h2>Nirajan Gyawali</h2>
                    <p class="title">Team Member</p>
                    <p>Hi</p>
                    <p>nirajan.gywawali@sagarmatha.edu.np</p>
                    <p><button class="button">Contact</button></p>
                  </div>
                </div>
              </div>
          

        
    </div>
   
</body>
</html>