<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/3/w3.css">
<link rel="stylesheet" href="index.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css">
</head>

<body>
<div class="menu-bar">
  <style>
    body {
      background-image: url('back.jpg');
    }
    </style>
<div class="menu-bar">
  <ul>
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">Services</a>
          <div class="sub-menu-1">
              <ul>
                  <li><a href="#">WORD SEGEMNTATION</a></li>
                  <li><a href="#">TEXT RECOGNITION</a></li>
              </ul>
          </div>
      </li>    
      <li><a href="about.html"></a>About Us</li>
  </ul>
</div>   
        <div class="content">
            <h1>Nepali Handwritten <br><span>Text</span> <br>Recognition</h1>
            <p class="par">Handwriting Recognition is the mechanism for converting
              the handwritten text into a notational representation. It is a
              special problem in the domain of pattern recognition and
              machine intelligence.The recognition of texts from the scanned image can have various applications, which are based on optical character recognition.
              Specially for the Nepali language there are very
few researches in the domain of handwriting recognition. Mostly used recognition tools include statistical based
recognition tools.
            </p>

                <button class="cn"><a href="about.html">Contact Us</a></button>

                

                </div>
                    </div>
                </div>
        </div>
    </div>
</body>
</html>