<html>

<head>
    <title>Word Segmentation</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1">
    <link href="segment.css" type="text/css" rel="stylesheet" >
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
<div class="drag-area">

    <div class="icon"><i class="fas fa-cloud-upload-alt"></i></div>
    <header>Drag & Drop to Upload File</header>
    <span>OR</span>
    <button>Browse File</button>
    <input type="file" hidden>
  </div>

  
  <div class='textlabel'>
  <label for="Extract">Segmented Image:</label>
  </div>
<!-- <div class="textextract">
  
  <textarea></textarea>
  
</div> -->
<!-- <div id="notification">Text Copied!</div> -->
<!-- <div class="button"> -->
<!-- <button class="copytext">copy text</button> -->
<!-- </div> -->
<div class="segmented">

</div>

<script src="segment.js"></script> 

</body>


</html>