<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/3/w3.css">
<link rel="stylesheet" href="service.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css">

 
<body>

<div class="menu-bar">
  
   <a href="abc.html"><div class="logo"><img src="logo.png" alt="Logo"></a>
    </div>



    <ul>
        <li ><a href="abc.html">Home</a></li>
        <li><a href="about.html">About Us</a></li>
        <li><a href="demo.html">Demo Photos
            Videos</a></li>
        <li class="active"><a href="service.html">Services</a>
            
            <div class="sub-menu-1">
                <ul>
                <li><a href="segment.html">WORD SEGEMNTATION</a></li>
                <li><a href="word_recoh.html">TEXT RECOGNITION</a></li>
                </ul>
            </div>
        </li>    
        
    </ul>
</div>  
<div class="row">
    <div class="column1" style="background-color:white;">
        <div class="con">
         <u><h3 style="background-color:rgb(246, 245, 252);">WORD SEGEMNTATION</h3></u>
        
        <p>Text segmentation is the process of dividing written text into meaningful units, such as words, sentences, or topics. The term applies both to mental processes used by humans when reading text, and to artificial processes implemented in computers, which are the subject of natural language processing. 
            The problem is non-trivial, because while some written languages have explicit word boundary markers, such as the word spaces of written English, modifiers and diko in Nepali language.
            The algorithm takes an image of line as input and outputs the segmented words. The algorithm achieve good results, is fast, and is easy to implement.</p>
        </br>
        </div>

        <h4 style="background-color:whitesmoke;">Simple illustraation is shown below:</h4>
        <div class="photo1">
            <img src="origi.jpg" height="35%" width="40%">                               
            <img src="seg.jpg" height="100%" width="42%">
            
        
        </div>
        <!-- <marquee direction="right"><div class="text"><a href="word_recoh.html">Segment Text image</a></div></marquee> -->
    </div>

    <div class="column2" style="background-color:white">
        <h2><u>HANDWRITTEN TEXT RECOGNITION</u></h2>
        <p>HWR is the ability of a machine to recognize handwriting. This can be done through various methods including optical character recognition (OCR) and intelligent character recognition (ICR). OCR converts images into text while ICR uses algorithms to identify characters based on their shapes and features.
            The basic principle behind HWR is that the system has been trained using a large number of samples of handwriting. Once this training phase is complete, the system can then analyze any handwritten sample. The system will then try to match the sample against its database of previously analyzed samples. If the system finds a match, it will return the correct spelling. Otherwise, it will return a list of possible spellings.
        </p>
        <h4>Simple illustration is shown below:</h4>
        <div class="photo2">
            <img src="text.png" height="46%" width="55%">    
                                   
           
            
        
        </div>
        <a href="word_recoh.html"><button id="segments">Recognize Text</button></a>    
    </div>
</div>
<a href="segment.html"><button id="segment">Segment Text😊😊 </button></a>

</body>
</html>