{% extends 'base.html' %}
{% block title %} Word recognition {% endblock %}

{% block content %}
  
    <link rel="stylesheet" href="{{ url_for('static', filename='css/word_recognition.css') }}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  
    
      <div class="drag-area">

        <div class="icon"><i class="fas fa-cloud-upload-alt"></i></div>
        <header>Drag & Drop to Upload File</header>
        <span>OR</span>
        <button>Browse File</button>
        <input type="file" hidden>
      </div>s
    
      
      <div class='textlabel'>
      <label for="Extract">Extracted Text:</label>
      </div>
    <div class="textextract">
      
      <textarea></textarea>
      
    </div>
    <div id="notification">Text Copied!!!</div>
 <!-- <div class="button"> -->
    <button class="copytext">Copy Text</button>
  <!-- </div> -->

  <script src="{{ url_for('static', filename='js/word_recognition.js') }}"></script> 

  {% endblock %}